<% provide(:page, "users") %>
<% provide(:username, current_user.username) %>

<div class="wrapper">
  <% @users.each do |user| %>
  <div class="caption">
    <h3><%= gravatar_for(user,35) %> <%= user.username %></h3>
    <p>Email : <%= user.email %></p>
    <% if user.is_online? %>
    <p>status : <i class="icon-ok"></i></p>
    <% else %>
    <p>status : <i class="icon-remove"></i></p>
    <% end %>
  </div>
  <hr>
  <% end %>
</div>
