<% provide(:username, @user.username) %>
<% provide(:page, "home") %>
<div class="wrapper">
    <h2><span><%= gravatar_for(@user) %></span>
      &nbsp;&nbsp;&nbsp;<%= @user.username.capitalize %>
    </h2>
    <span id="img-chg">
      <p>change image on <a href="https://it.gravatar.com/">Gravatar</a></p>
    </span>
</div>
