<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="./index.html"><b>Welcome!</b></a>
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li class="">
            <a href="./index.html">Get Started</a>
          </li>
          <li class="">
            <a href="./javascript.html">Sign Up</a>
          </li>
	  <li class="divider-vertical"></li>
          <li class="">
            <%= link_to '<b>Sign In</b>'.html_safe, controller: :users, action: :authenticate, email: "alex.pellegrini@live.com", password: "mammamia" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<br />
<br />
<br />
<div class="wrapper">
  <div class="caption">
    <h2>My first Ruby on Rails App</h2>
    <p>
       Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>
