<% provide(:username, current_user.username) %>
<% provide(:page, "commissions") %>


<div class="wrapper">
  <div class="page-header">
    <h2><%= @post.title %></h2>
  </div>
  <div style="width : 500px">
    <p><%= @post.body %></p>
  </div>
</div>
